#list {
  margin: 10px;
  padding: 10px;
}
#contents {
  display: inline-flex;
  flex-wrap: wrap;
}

img {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
#loading {
  display: none;
}
.basket {
  width: 200px;
  height: 200px;
  margin: 10px;
}
